---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getPosts } from '../../lib/notion';

const { tag } = Astro.params;
const allPosts = await getPosts();
const posts = allPosts.filter((post) => post.tags.includes(tag));
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={`${tag} の記事一覧 | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section style="max-width: 720px; margin: auto; padding: 1em;">
        <h1>#{tag} の記事一覧</h1>
        <a href="/">← 全ての記事に戻る</a>
        <hr />
        {posts.length > 0 ? (
          <ul style="padding: 0;">
            {posts.map((post) => (
              <li style="margin-bottom: 2rem; list-style: none; border-bottom: 1px solid #f4f4f4; padding-bottom: 1rem;">
                <div style="font-size: 0.9rem; color: #888;">{post.date}</div>
                <a href={`/posts/${post.id}`} style="text-decoration: none;">
                  <h2 style="margin: 0; font-size: 1.4rem; color: #0070f3;">{post.title}</h2>
                </a>
              </li>
            ))}
          </ul>
        ) : (
          <p>このキーワードに該当する記事はありません。</p>
        )}
      </section>
    </main>
    <Footer />
  </body>
</html>
